@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #e0f7fa; /* light sky blue */
}

.container {
  position: relative;
  width: 750px;
  height: 450px;
  border: 2px solid #ff6f61; /* coral */
  box-shadow: 0 0 25px #ff6f61;
  overflow: hidden;
  background-color: #ffffff;
  border-radius: 15px;
}

.container .form-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
}

.form-box h2 {
  font-size: 32px;
  text-align: center;
  color: #0077b6; /* deeper sky blue */
  margin-bottom: 10px;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin-top: 25px;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: #333;
  font-weight: 600;
  border-bottom: 2px solid #aaa;
  padding-right: 23px;
  transition: .5s;
}

.input-box input:focus,
.input-box input:valid {
  border-bottom: 2px solid #ff6f61;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 16px;
  color: #888;
  transition: .5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
  color: #ff6f61;
}

.input-box i {
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 18px;
  transform: translateY(-50%);
  color: #888;
}

.input-box input:focus ~ i,
.input-box input:valid ~ i {
  color: #ff6f61;
}

.btn {
  position: relative;
  width: 100%;
  height: 45px;
  background: transparent;
  border-radius: 40px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  border: 2px solid #ff6f61;
  overflow: hidden;
  z-index: 1;
  color: #ff6f61;
  transition: 0.4s;
}

.btn::before {
  content: "";
  position: absolute;
  height: 300%;
  width: 100%;
  background: linear-gradient(#e0f7fa, #ff6f61, #e0f7fa, #ff6f61);
  top: -100%;
  left: 0;
  z-index: -1;
  transition: .5s;
}

.btn:hover::before {
  top: 0;
}

.btn:hover {
  color: white;
}

.info-content {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px 60px 100px;
  color: #0077b6;
  text-align: left;
}

.info-content h2 {
  text-transform: uppercase;
  font-size: 32px;
  line-height: 1.3;
}

.info-content p {
  font-size: 16px;
  color: #444;
}

.curved-shape {
  position: absolute;
  right: 0;
  top: -5px;
  height: 600px;
  width: 850px;
  background: linear-gradient(45deg, #e0f7fa, #ff6f61);
  transform: rotate(10deg) skewY(40deg);
  transform-origin: bottom right;
  transition: 1.5s ease;
}

.curved-shape2 {
  position: absolute;
  left: 250px;
  top: 100%;
  height: 700px;
  width: 850px;
  background: #ffffff;
  border-top: 3px solid #ff6f61;
  transform: rotate(0deg) skewY(0deg);
  transform-origin: bottom left;
  transition: 1.5s ease;
}
